html { font-size: 1rem; } 
/* body, button { font-size: 14px; font-family: 'Roboto', sans-serif; } =14px */
/* h1   { font-size: 24px; font-size: 2.4rem; } =24px */
 *{
   margin:0;
 }

.container{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background-color: #895360;
  width: 100%;
  height: auto ;
   
}
/* .correctionImage {
  display: flex;
  position: absolute;
  width: 100%;
  height:50px;
  color: #FFF4F6;
  border: #FFF4F6;
  top: 40rem;
} */

.headLineMainBanner {
  font-size: 3.5rem;
  color: #ffffff;
  font-family: 'Roboto';
  width: 45rem;
  /* margin-top: rem; */
  margin-left: 5rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.01rem;
}
.presentation {
  width: 54rem;
  height: 9.14rem;
  margin-left: 5rem;
  margin-top: 1rem;
    
  color: #ffffff;
  font-size: 1.5rem;
  
  font-family: 'Roboto';
  font-style: normal;
  /* line-height: 4rem; */
  
}
.fireLabel {
  color: #ffffff;
  position: absolute;
  left: 5rem;
  top: 8rem;
}
.scheduleButton{
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 1.3rem;
  position: absolute;
  width: 21rem;
  height: 3.5rem;
  border-radius: 0.25rem;
  border: none;
  background-color: #C3A150;
  margin-top: 0.5rem;
  margin-left: 35rem;
}

.logoPhoto{
  display:flex;
  /* margin-top: 1rem; */
  width: 47rem;
  height: fit-content;
  right: auto;
  } 

  